body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f8f8;
}

.filter-btn, .reset-btn{
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    font-size: 1.5em;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.with-icon > img {
    width: 2em;
    padding-right: 10px;
}

.reset-btn {
    background-color: red;
    color: white;
}

.disabled {
    text-decoration: line-through;
}

.filter-btn.large {
    padding: 24px;
}

.filter-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.back-btn {
    padding: 12px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
}
