body {
    font-family: Arial, sans-serif;
    padding: 0 0  10px 10px;
    margin: 0 0 10px 10px;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content, .content2{
    margin-top: 60px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.content2 {
    margin-top: 0;
    padding-left: 10px;
}


.halfScreen {
    min-width: 50%;
    height: 100vh;
    width: 100%;
}


.head {
    min-width: 750px;
    box-sizing: border-box;
    max-width: 50%;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 1000;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 5px;
}

#headPopup {

}

.completeRight {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    column-gap: 5px;
}


#weekOverview {
    max-width: 200px;
    margin: 0;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.activeFilters {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-icons > img {
    width: 3em;
    padding-right: 5px;
}

.activeFilters > span {
    font-weight: bold;
    font-size: 20px;
    padding-right: 5px;
}

.nextWeek {
    border-left: 2px solid black;
}

.separator {
    border-left: 3px solid black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
}

button {
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.time {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid red;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap;
    color: red;
}

select {
    box-sizing: border-box;
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    appearance: none;
    background-image: url("icons/dropdown-pfeil.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;
    min-width: 145px;
    min-height: 60px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.menu-title {
    font-weight: bold;
    font-size: 25px;
}

.dishes {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.dish {
    flex: 0 0 19.5%;
    margin-top: 10px;
    max-width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
}

.dish-head {
    position: relative;
    flex-grow: 1;
}

.dish-head > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.7;
}

.dish-description {
    height: 100px;
    border-top: 2px solid black;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 20px;
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border: 2px solid green;
    font-weight: bold;
}

.filter {

    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: white url("/icons/filter.png") bottom 5px center no-repeat;
    background-size: 40px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#popup {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    padding: 20px;
    height: 100%;
    overflow: auto;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    z-index: 9999;
}

#popupContent {
    width: 100%;
    height: 100%;
    border: none;
}

#popupIframe {
    width: 100%;
    height: 100%;
    border: none;
}

#back {
    background: white url("/icons/back.png") center no-repeat;
    background-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
