body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.week {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 10px;
}

.nextWeek {
    border-left: 2px solid black;
}

.dayOfWeek {
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
}

button {
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#weekOverview {
    margin-right: 10px;
}

.completeRight {
    margin-left: auto;
    margin-right: 10px;
}

select {
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    height: 100%;
    border: 2px solid black;
    appearance: none;
    box-sizing: border-box;
    background-image: url("../icons/dropdown-pfeil.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;
    min-width: 135px;
}
