body {
    font-family: Arial, sans-serif;
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    margin-top: 60px;
}

.head {
    padding: 10px 30px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.week {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 10px;
}

.nextWeek {
    border-left: 2px solid black;
}

button {
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

#weekOverview {
    margin-right: 10px;
}

.completeRight {
    margin-left: auto;
    margin-right: 10px;
}

select {
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    appearance: none;
    box-sizing: border-box;
    background-image: url("../icons/dropdown-pfeil.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px;
    min-width: 135px;
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.menu-title {
    font-weight: bold;
    font-size: 25px;
}

.dishes {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.dish {
    flex: 1 1 0;
    margin-top: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
}

.dish-head {
    position: relative;
    flex-grow: 1;
}

.dish-head > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.7;
}

.dish-description {
    height: 100px;
    border-top: 2px solid black;
    padding-top: 5px;
    padding-left: 2px;
    font-size: 20px;
}

.price {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    background-color: white;
    border: 2px solid green;
    font-weight: bold;
}

.filter {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background: #f2f2f2 url("../icons/filter.png") bottom 5px center no-repeat;
    background-size: 40px;
    min-height: 60px;
    min-width: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}