body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

#foodImage {
    border: 2px solid black;
    position: relative;
    border-radius: 5px;
    width: 600px;
    height: 420px;
    aspect-ratio: 1 / 0.7;
    object-fit: cover;
}

#buttons {
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px 20px;
    background-color: white;
    cursor: pointer;
}

.liked {
    background: green;
}

.neutral {
    background: white;
}

.disliked {
    background: red;
}

#foodInfo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-collapse: collapse;
}

#foodInfo td, #foodInfo th {
    border: 2px solid black;
    padding: 8px;
}

#foodInfo tr:nth-child(even) {
    background-color: #bbbbbb5b;
}

#likeButton {
    background: url("/icons/like.png") center no-repeat;
    background-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

#dislikeButton {
    background: url("/icons/dislike.png") center no-repeat;
    background-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.icon-symbols {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.icon {
    width: 10px; 
    height: 18px; 
    margin: 0 5px;
}

.symbol {
    width: 35px; 
    height: 35px; 
    font-size: 40px; 
    margin-bottom: 5px;
    display: block; 
}
